*{font-family: Impact, fantasy;}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.pokemon-header {
    /* background-image: url(https://c.tenor.com/EL-lwQBtVZ4AAAAi/%E3%83%94%E3%82%AB%E3%83%81%E3%83%A5%E3%82%A6-pokeball.gif); */
    background-color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 90px;
    font-family: Marker Felt, fantasy;
    
}

.first-section-container {
    display: inline-block;
    display: flex;
}

#showcase-pokemon {
    border-style: solid;
    background-color: rgb(255, 47, 0);
    flex: 1.5;
    height: 300px;
    text-align: center;   
}

#pokemon-obtained-list {
    border-style: solid;
    background-color: rgb(67, 67, 244);
    flex: 1;
    text-align: center;
    overflow-y: auto;
    height: 300px;
}

.pokemon-team-list-div{
    border-style: solid;
    background-color: rgb(210, 46, 210);
    flex: 1;
    text-align: center;
    overflow-y: auto;
    height: 300px;
}

.pokemon-team-container-and-form {
    background-color: green;
    border-style: solid;
    width: auto;
    height: 350px;
    text-align: center;
}

.pokemon-list-background {
    background-color: rgb(255, 47, 0);
}

li{
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 190px;
    height: 150px;
    background-color: #E0E0E0;
    text-align: center;
    border-radius: 30px;
}

li img:hover{
    animation: shake .5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

li h2, li p {
    margin: 0;
    text-transform: capitalize;
}

.front-back-button{
    text-align: center;
    
}

#back{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}

#forward{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
}
.footer-div{
    text-align: center;
    font-size: 20px;
    font-family: Chalkduster, fantasy;
}

.pokemon-caught {
    color: green;
}

.add-to-list-button{

}

